/* Tailwind CSS base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
* {
  font-size: 16px;
  line-height: 1.2;
  font-family: "BD Grotesk", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 1.2;
  font-family: "BD Grotesk", sans-serif;
}

p {
  color: #7b3a38;
  line-height: normal;
}

/* Section padding customization */
.cf-section {
  padding-block: 80px;
}

@media only screen and (min-width: 768px) {
  .cf-section {
    padding-block: 100px;
  }
}

@media only screen and (min-width: 1024px) {
  .cf-section {
    padding-block: 120px;
  }
}

@media only screen and (min-width: 1280px) {
  .cf-section {
    padding-block: 150px;
  }
}

/* Custom font styles */
.font-sober {
  font-family: "Sober", sans-serif;
}

.font-bdogrotesk {
  font-family: "BD Grotesk", sans-serif;
}

/* Autofill input field customization */
input:-webkit-autofill {
  background-color: transparent;
}

/* React Lightbox customizations */
.yarl__flex_center .yarl__thumbnails_thumbnail {
  border: 0 !important;
  padding: 0;
}

.yarl__flex_center .yarl__thumbnails_thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.yarl__flex_center
  .yarl__thumbnails_thumbnail.yarl__thumbnails_thumbnail_active {
  border: 2px solid #5a0808 !important;
}

.yarl__thumbnails_track {
  transition: all 0.3s ease-in-out; /* Smooth animation */
  transform: translateY(0); /* Default position */
}

.yarl__thumbnails_track.hidden {
  transform: translateY(120%); /* Move thumbnails out of view */
}

/* Custom scrollbar hiding styles */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* Splide arrow customizations */
.splide__arrows .splide__arrow {
  border: 1px solid #5a0808;
}

.splide__arrows .splide__arrow:hover {
  background-color: #fee473 !important;
  transition: 0.5s all ease-in-out;
}

.splide__arrows .splide__arrow svg {
  fill: #5a0808;
  width: 1em;
}
