@font-face {
  font-family: "BD Grotesk";
  src: url("./assets/fonts/bdogrotesk-font/BDOGrotesk-Regular-BF648a656f74a27.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
  foot-display: swap;
}

@font-face {
  font-family: "Sober";
  src: url("./assets/fonts/sober-font/sober-regular-webfont.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
