@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}
.font-nunito {
  font-family: "Nunito", sans-serif;
}

.cf-btn {
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.625rem 1.875rem;
  border: 1px solid #5a0808;
  border-radius: 50rem;
  background-color: #fee473;
}

@media only screen and (min-width: 640px) {
  .cf-btn {
    font-size: 1rem;
    padding: 1.25rem 2.5rem;
  }
}

.splide__arrows .splide__arrow {
  border: 1px solid #5a0808;
}

.splide__arrows .splide__arrow:hover {
  background-color: #fee473 !important;
  transition: 0.5s all ease-in-out;
}
.splide__arrows .splide__arrow svg {
  fill: #5a0808;
  width: 1em;
}
